* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.8);
    position: sticky;
    top: 0;
}

nav a {
    margin: 20px 30px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

img {
    border-radius: 10px;
}

nav a:hover {
    transform: scale(1.1);
}

.item {
    border-radius: 10px;
    background-color: rgb(245, 236, 236);
    overflow: hidden;
    max-width: 600px;
}